<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tnt.plm.mapper.ItemMapper">
    <select id="findById" resultType="com.tnt.plm.model.entity.Item">
        select * from item where id=#{id}
    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into item (classId,subClassId,number,description,createdBy,updatedBy)
        values(#{classId},#{subClassId},#{number},#{description},#{createdBy},#{updatedBy})
    </insert>
    <update id="deleteById">
        update item set deleted= 1 where id=#{id}
    </update>
</mapper>